body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: #c2c2c2;
  position: relative;
  text-shadow: 0 0 10px rgba(88, 87, 87, 0.5);
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  text-transform: uppercase;
  transition: .5s ease;
}

.link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: .5s ease;
}

.link:hover {
  color: #1e1e2b;
  transition-delay: .5s;
}

.link:hover::before {
  width: 100%;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}

.link:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

.title {
  letter-spacing: 2px;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

header {
  padding: 10px 20px;
  background-color: #36454f;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: 1px solid black;
}